<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAMSIntegrationService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAMSIntegrationService" contract="IAMSIntegrationService" name="BasicHttpBinding_IAMSIntegrationService"/>
    </client>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>
    <add key="IATAAirportCode" value="DOH" />
    <add key="ICAOAirportCode" value="OTHH" />
    <add key="Token" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" />
    <add key="AlertField" value="B---_TowingNotStarted" />
    
    
    <add key="LogFilePath" value="C:\Users\dave_\Desktop\Dave.log" />
    <add key="BaseURI" value="http://localhost/" />
    <add key="ResetTime" value="107" />
    <add key="ConsoleLog" value="1" />
    <add key="EventLog" value="1" />
    <add key="EventLogErrorOnly" value ="1"/>
    <add key="EarliestDowngradeOffset" value="-20" />
    <add key="LatestDowngradeOffset" value="20" />
    <add key="NotificationQueue" value=".\private$\wkb_api_notification_queue" />
    <add key="RequestQueue" value=".\Private$\toams" />
  </appSettings>
</configuration>
