<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- //Version 4.0 -->

  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>
    <add key="AMSRestServiceURI" value="http://localhost:80/api/v1/" />  <!-- The base URL for the AMS Rest API server for the Towing interface. The complete URI is constructed in code using derived parameters-->
    <add key="AMSWebServiceURI" value ="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService"/>

    <add key="IATAAirportCode" value="DOH" /> <!-- IATA Code for the airport used in constructing the RestAPI URL -->
    <add key="ICAOAirportCode" value="OTHH" />  <!-- ICAO Code for the Airport, used in the WebServices call to write to the custom field-->

    <!--AMS Access Token (MUST be modified for the each AMS instance!!!) -->
   <add key="Token" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" /> 

    
    <add key="NotificationQueue" value=".\private$\towalert" /> <!-- MSMQ queue to listen to for tow event notifications-->
    <add key="GracePeriod" value="10000"/>  <!-- Time in milliseconds after the SchedStart that the alert will be sent (can be zero) -->
    <add key="RefreshInterval" value="3000000"/> <!-- Interval in milliseconds between complete refreshes of the towing cache (should be in the order of hours) -->
    <add key="FromHours" value="-12"/> <!-- Time from NOW in hours to for the lower limit of the tow event cache -->
    <add key="ToHours" value="48"/>    <!-- Time from NOW in hours to for the upper limit of the tow event cache -->
    <add key ="ResetServerRetryInterval" value="5000"/> <!-- Time in milliseconds to try to connect to the AMS Rest API Server if it is not available -->
    
    <add key ="DeepTrace" value ="False"/> <!-- Enables Deep Tracing. !!!! Not for Produciton Use -->

    <add key="StandAlertField" value="B---_TowingNotStarted" />
    <add key="StandTowIDField" value="S---_TowId" />

    <add key="FlightAlertField" value="B---_TowingNotStarted" />

    <add key="AlertFlight" value="True" />
    <add key="AlertStand" value="True" />

    <add key ="StartUpFlightProcessing" value ="True"/>   <!-- Process the flights for the previous 24 hours to set the flag correctly if the status has turned from "true" to "false" while the widget was down -->
    <add key ="StartUpStandProcessing" value ="True"/>


    <!-- Below can be used to overwrite the defaults for the key parameters when run as a service-->  
    <!-- 
    <add key="ServiceName" value="SITAAMSTowNotStarted"/>
    <add key="ServiceDisplayName" value="SITA AMS - Tow Not Started Utility Service"/>
    <add key="ServiceDescription" value="Writes to a custom field on the arrival and departure flight if a towing has not started by the schedued time"/>
     -->
    
  </appSettings>
</configuration>
